<?xml version="1.0" encoding="utf-8"?>
<Configurations>
  <Configuration>
    <Key>Tester minimum age</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>41</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>Minimum days between tests</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>7</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>Trainee minimum age</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>18</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>Minimum lessons</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>25</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>Tester maximum age</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>67</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>Serial Number Test</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>10000002</value>
    </Value>
  </Configuration>
</Configurations>