<?xml version="1.0" encoding="utf-8"?>
<Configurations>
  <Configuration>
    <Key>גיל בוחן מינימלי</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>41</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>מינימום ימים בין טסטים</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>7</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>גיל נבחן מינימלי</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>18</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>גיל נבחן מקסימלי</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>80</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>מספר שיעורים מינימלי</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>25</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>גיל בוחן מקסימלי</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>67</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>מספר מבחן</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>10000002</value>
    </Value>
  </Configuration>
</Configurations>